.projects-section {
  padding: 4rem 2rem;
  min-height: 100vh;
  background-color: #f9f9f9;
  scroll-margin-top: 0px; /* Adjust this value based on your header height */
}

.projects-section h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-family: "Libre Baskerville";
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  color: black;
}

.project-card {
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  color: black;
  margin-bottom: 1rem;
}

.project-card p {
  color: #666;
  line-height: 1.6;
}
