@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Pen+Script&family=Just+Another+Hand&family=Epilogue:wght@300;400;500;600;700&family=Gowun+Batang:wght@400;700&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap&subset=korean');
@import './styles/fonts.css';

body {
  margin: 0;
  font-family: var(--sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
